#canvas {
    width: 300px;
    height: 300px;
    background-color: ivory;
    margin: 0 auto;
    box-shadow: 15px 15px 10px grey;
  }

  #first-row {
    height: 80%;
    width: 100%;
  }
  #big-rectangle {
    height: 100%;
    width: 75%;
  }
  #first-divider {
    height: 100%;
    width: 3%;
  }
  #first-column {
    height: 100%;
    width: 22%;
  }
  #second-divider {
    height: 6%;
    width: 100%;
  }
  #first-medium-rectangle {
    height: 47.0%;
    width: 100%;
  }
  #second-medium-rectangle {
    height: 47.0%;
    width: 100%;
  }
  #corner-rectangle {
    height: 250%;
    width: 22%;
  }
  #divider-a {
    height: 250%;
    width: 3%;
  }
  #low-rectangle {
    height: 250%;
    width: 65%;
  }
  #divider-b {
    height: 250%;
    width: 3%;
  }
  #divider-c {
    height: 20%;
    width: 100%;
  }
  #mini-rectangle-a {
    height: 40%;
    width: 100%;
  }
  #mini-rectangle-b {
    height: 40%;
    width: 100%;
  }
  #corner-right-rectangle {
    height: 250%;
    width: 7%;
  }
  #low-divider {
    height: 40%;
    width: 100%;
  }
  .red {
    background-color: red;
  }
  .brown {
    background-color: brown;
  }
  .right {
    float: right;
  }
  .left {
    float: left;
  }
  .black {
    background-color: black;
  }
  .blue {
    background-color: blue;
  }
  .grey {
    background-color: rgba(245, 235, 235, 0.9);
  }
  .color {
    background-color: rgba(214, 165, 70, 0.8);
  }
  #second-row {
    height: 7%;
    width: 100%;
  }